/* Ise yarar ipuclarini ***** ile bulabilirsin */

/*type selector*/
h1 {
  color: red;
}
/*
*{
    bu tum tipleri etkiler
}
*/

/*class selector*/
.name {
  color: blue;
}

/*id selector*/
#name {
  color: blue;
}

/* ***** */
[data-name="name"] {
  color: green;
}

/* ONCELIKLER
element = 0,0,1
classes = 0,1,0
id = 1,0,0
inline style bigger

*/
div ol li {
  /*0 0 3*/
  color: blue;
}

div ol li.home {
  /*0 1 3*/
  color: red;
}

#home {
  /*1 0 0 */
  color: gray;
}

/*Cascading Style Sheet, cascading asagida goruldugu manada*/
.birinciRed {
  color: red;
}
/*Ikinci gecerli*/
.ikinciGreen {
  color: green;
}

/*Inheritance*/
ol {
  color: red;
}

.kalitim {
  color: inherit;
}

.default {
  color: initial;
}

.box {
  /*Iki cesit eleman var, block ve inline
  box yapisi yani yukseklik ve genislik block yapilar icin
  gecerli inline yapilar icin degil. Bu kutuya display:inline dersem height ve weight hukmunu yitirir*/
  /* display: inline; ***** */
  background: blue;
  /*100'e 100'luk bir kutu tanimladim*/
  height: 100px;
  width: 100px;
  /* 10px padding ile 120x120 kutum oldu */
  padding: 10px;
  /* 10px border ile 140x140 kutum oldu */
  border: 10px solid green;
  /* 10px margin ile kutum 140x140 kaldi 
  cunku margin diger kutulari itmek uzerine*/
  margin: 10px;

  /* ***** Border ve padding'in kutu boyutumu arttirmayip icerde yer edinmesini istiyorsam*/
  /* box-sizing: default olarak content-box */
  box-sizing: border-box;
}

/* Css Units */
h1 {
  /* font-size: 30px; */
  /*em relative bir birimdir bu elemanin font-size'ni birim deger olarak alir.*/
  /* padding: 2em; */

  /* rem em gibidir, default font-size'i temel alir.
  Default font-size 16px'dir */
  padding: 2rem; /*32px*/

  /* Percentage de kullanilabilir. Parent element'in fontsize'na gore olceklenir.*/
  font-size: 200%; /*32px*/
}

h1 {
  /* # RGB deger oldugunu gosterir */
  /* color: #00ff00; */
  /* Hue (renk_, Saturation, Lightness 
  hue 0-360 arasi deger alir.0 red, 120 green, 240 blue
  saturation 0-100 arasi 0 cok golgeli
  Lightness 0 black, 100 white*/
  color: hsl(240, 100%, 50%);
  /* renk border icin de gecerlidir */
  border: solid 1px;
  background: #00ff00;
}

.content {
  /* background: url("assets/background.jpg") center/cover no-repeat; ***** */
  /* background-size: cover; 
  background-position-x: center;
  background-position-y: center;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;*/
  background: url("assets/background.jpg") no-repeat;

  /* radial gradient'e fixed parallax effekti olur */
  /* background: radial-gradient(skyblue, crimson) fixed; */
  /* background-attachment: fixed; */

  /* background: red; */
}

h1 {
  /* Level of transparency - Opacity 0 ise gorunmez eleman */
  /* 1- opacity: 0; */

  /* ***** transition 1 second bekletir*/
  /* transition: 1s;
  opacity: 1; */

  /* opacity 0 ya da visibility hidden ile eleman hala sayfadadir */
  /* 2- visibility: hidden; */

  /* 3- display: none ile layout'da yokmus gibi olur*/
  /* display: none; */
  transition: 1s;
}
